

*{
    box-sizing: border-box;

}

header{
    position: absolute;
    top: 0;
    background-color:tan;
    width:100%;
    margin:0;

}

h1{
    display:inline-block;
    margin-left: 175px;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0
}

h3{
    display:inline-block;
    text-align: center;
    float:right;
    padding-top: 15px;
    margin-right: 20px;

}

body{
    padding-top:30px;
    background-image: url("./Assets/Images/Surprising-Facts-About-German-Shepherds.png");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    margin:0;
}

.quiz-container{
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px black;
    width:450px;
    overflow:hidden;
    display: none;
}

.quiz-header{
    padding: 3rem;
}



ul{
    padding: 0;
}

ul li{
    font-size: 1.3rem;
    margin-block-end: : 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color:darkslategrey;
    border-radius: 0 0 10px 10px;
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 1.35rem;
}

#highscores{
    display:inline-block;
    width: 15%;
    margin-top: 11px;
    justify-content:left;
    float: left;
    margin-right: 10px;
    border-radius: 1em;
}

#startquiz{
    border-radius: 1em;
    width: 20%;
    display:inline-block;
    top: 0;
    margin-top: 110px;
    height: 10%;
    width: 20%;
    position: absolute;
    visibility: visible;
}

button.hover{
    background-color:blue;
}

button:focus{
    outline: none;
    background-color: green;
}

footer{
    position:absolute;
    bottom:0;
    background-color:tan;
    width:100%;
    text-align: center;
    height:10%;
    justify-content:center;
    padding: 35px;
}